[credential]
	helper = store
	gitLabAuthModes = pat
[core]
	editor = vim
[user]
	email = dlundgaard8@gmail.com
	name = Daniel Lundgaard
[pull]
	ff = only
	# rebase = true
[column]
	ui = auto
[commit]
	verbose = true
[help]
	autocorrect = prompt
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	# (just 'diff3' if git version < 2.3)
	# conflictstyle = zdiff3 
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
